### Q1. Explain Python Tokens & Data Types with the help of Example.

Tokens:
A token is the smallest individual unit in a Python program. All statements and instructions in a program are built with tokens. 
The various tokens in Python are:

Keywords: Keywords are words that have some special meaning or significance in a programming language. 
They can’t be used as variable names, function names, or any other random purpose. They are used for their special features. 
In Python we have 33 keywords some of them are: try, False, True, class, break, continue, and, as, assert, while, for, in, 
raise, except, or, not, if, elif, print, import, etc.

Identifiers: Identifiers are the names given to any variable, function, class, list, methods, etc. for their identification. 
Python is a case-sensitive language and it has some rules and regulations to name an identifier. 
Here are some rules to name an identifier:

Literals: Literals are constants that represent fixed values. There are several types of literals in Python:
*Integer Literals: Examples: 42, -123.
*Floating-Point Literals: Examples: 3.14, -0.01.
*String Literals: Examples: "Hello, World", 'Python'.
*Boolean Literals: Examples: True, False.
*None Literal: Example: None.
*Operators: Operators perform operations on variables and values. Examples include +, -, *, /, ==, !=, and, or.

Punctuation Symbols: These include various symbols and characters used in the code, such as parentheses (), curly braces {}, 
square brackets [], commas ,, colons :, and semicolons ;.

### Data Types:
Numeric: Numeric data types are used to store numeric values. There are three numeric data types in Python: int, float, and 
complex. 
* int holds signed integers of non-limited length 
* float holds floating decimal points and is accurate up to 15 decimal places
* complex holds complex numbers.

In [3]:
#Example of Numeric Data Type:
a = 5
print(a, 'is of type', type(a))

b = 2.0
print(b, 'is of type', type(b))

c = 1+2j
print(c, 'is of type', type(c))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is of type <class 'complex'>

### String: Strings are used to store text data. In this ''," " and ''' ''' can be use. They are defined as str class in Python.

In [4]:
#Example of String Data Type
name = "Avinash"
print(name, 'is of type', type(name))

Avinash is of type <class 'str'>

### List: Lists are used to store a collection of items separated by commas and enclosed within square brackets []. They can contain elements of different data types.

In [5]:
#Example of List Data Type
fruits = ["apple", "banana", "cherry"]
print(fruits, 'is of type', type(fruits))

['apple', 'banana', 'cherry'] is of type <class 'list'>

### Tuple: Tuples are similar to lists but they are immutable, which means that once created, they cannot be modified. They are defined as tuple class in Python.

In [6]:
#Example
fruits = ("apple", "banana", "cherry")
print(fruits, 'is of type', type(fruits))

('apple', 'banana', 'cherry') is of type <class 'tuple'>

### Dictionary: Dictionaries are used to store key-value pairs separated by commas and enclosed within curly braces {}. They can contain elements of different data types. Here’s an example:

In [7]:
#Example
person = {"name": "John", "age": 36}
print(person, 'is of type', type(person))

{'name': 'John', 'age': 36} is of type <class 'dict'>

### Boolean: Boolean data types can only have two values: True or False. They are defined as bool class in Python. Here’s an example:

In [8]:
#Example
x = True
print(x, 'is of type', type(x))

True is of type <class 'bool'>

### Q2. You’re a Data Scientist. You have assigned a task to perform. Create two lists a & b, where a has values -> (11,89,41,32,77,90) and b has values -> (95,24,39,15,74,22). Compare the corresponding element values of both the lists and print “a element value is greater than b element value” if corresponding value from a is greater else print “a element value is less than b element value” if corresponding value from a is less than b.

In [25]:
a = [11, 89, 41, 32, 77, 90]
b = [95, 24, 39, 15, 74, 22]
if len(a) == len(b):
    for i in range(len(a)):
        if a[i] > b[i]:
            print('a element value', a[i] ,'is greater than b element value', b[i])
        else:
            print('a element value', a[i] , 'is less than b element value', b[i])

a element value 11 is less than b element value 95
a element value 89 is greater than b element value 24
a element value 41 is greater than b element value 39
a element value 32 is greater than b element value 15
a element value 77 is greater than b element value 74
a element value 90 is greater than b element value 22

### Q3. Write code to create a class named Calculator. • Define methods for addition, subtraction, multiplication and division that take in two numbers and return another number after Performing their respective operations. Define  another method named execute command that takes two numbers and a string named command. The command  string will be ‘add’, ‘sub’, ‘mul’, ‘div’. Perform Addition, Subtraction, Multiplication and Division on the two numbers respectively. Make sure the execute command method is case insensitive (meaning that even if the user passes ‘aDd’ as command it should perform addition on two numbers).

In [11]:
class Calculator:
    def execute_command(n, num1, num2, command):
        command = command.lower()
        if command == 'add':
            return num1 + num2
        elif command == 'sub':
            return num1 - num2
        elif command == 'mul':
            return num1 * num2
        elif command == 'div':
            if num2 == 0:
                return 'Error'
            return num1 / num2
        else:
            return 'Invalid command'
calc = Calculator()
result1 = calc.execute_command(56, 39, 'add')
result2 = calc.execute_command(100, 94, 'sub')
result3 = calc.execute_command(8, 9, 'mul')
result4 = calc.execute_command(8, 2, 'div')
print('Addition:', result1)
print('Subtraction:', result2)
print('Multiplication:', result3)
print('Division:', result4)

Addition: 95
Subtraction: 6
Multiplication: 72
Division: 4.0

### Q4.  Create a program to take numbers and store them in a list and Print a Square of numbers as tuple.

In [16]:
numbers = []
a = int(input('Enter the number of elements: '))
for i in range(a):
    b = float(input('Enter number '+str(i+1)+'. : ' ))
    numbers.append(b)
squares = [(b, b ** 2) for b in numbers]
print('Numbers and their squares: ')
for b, square in squares:
    print(b, 'squared is', square)

Enter the number of elements: 2
Enter number 1. : 7
Enter number 2. : 5
Numbers and their squares:
7.0 squared is 49.0
5.0 squared is 25.0

### Q5. Write a Function to check if the year number is a leap year or not. Print all Leap Years of 21st Century.

In [12]:
year = int(input('Enter Year: '))
if year %4==0:
    print('Year is Leap Year')
else:
    print('Year is not Leap Year')
print('All Leap Years of 21st Century are: ')
for i in range(2000, 2100):
    if i%4==0:
        print(i)

Enter Year: 2024
Year is Leap Year
All Leap Years of 21st Century are:
2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096

### Q6. . Write a Function to take an array and return another array that contains the members of the first array that are even in one array and odd in another array.

In [17]:
def array(a):
    en = []
    on = []
    for i in a:
        if i%2 == 0:
            en.append(i)
        else:
            on.append(i)
    return en, on
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
even, odd = array(a)
print("Even numbers:", even)
print("Odd numbers:", odd)

Even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

###  Q7. Write a python code to print the following pattern.

In [14]:
n=5
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5